<ion-header>
</ion-header>

<ion-content>
  <nav class="navitab">
    <div class ="maxwidth">
      <div class ="logo"><img src="../../assets/imgs/BatStateU-NEU-Logo.png">
      <img src="../../../assets/imgs/frmn logo 2.png" alt="">
      </div>
      <div class="logo2">
        <a href="#" [routerLink]="['/news']">FORMANA</a>
        <a href="#" [routerLink]="['/dashboard']">DASHBOARD</a>
      </div>
        <ul class = "opt">
          <li><a href="#" id="hover-trigger"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
          <li><a href="#" [routerLink]="['/login']"><i class="fa fa-sign-out" aria-hidden="true">
            <ion-popover trigger="hover-trigger" triggerAction="hover">
              <ng-template>
                <ion-content class="ion-padding" style="color: black">EMAIL NOTIFICATIONS! TO BE UPDATED!</ion-content>
              </ng-template>
            </ion-popover>
          </i></a></li>
        </ul>
          <div class ="opt-btn">
            <i class="fa fa-bars"></i>
          </div>
    </div>
  </nav>
  <section class="home" id="home">
    <div class="row top">
      <img src="../../../assets/imgs/homealangilan3.jpg" alt="">
    </div>
    <div class="row bottom">
      <div class="text">
        <h1>FORMANA</h1>
        <h2>Faculty and organizations have signed in <span id="visits"></span> times.</h2>
      </div>
    </div>
  </section>
  <section class="tail">
    <div class="card">

    </div>
  </section>
</ion-content>
