<ion-header>
</ion-header>

<ion-content>
  <nav class="navitab">
    <div class ="maxwidth">
      <div class ="logo"><img src="../../assets/imgs/BatStateU-NEU-Logo.png">
      <img src="../../../assets/imgs/frmn logo 2.png" alt="">
      </div>
      <div class="logo2">
        <a href="#" [routerLink]="['/news']">FORMANA</a>
        <a href="#" [routerLink]="['/dashboard']">DASHBOARD</a>
      </div>
        <ul class = "opt">
          <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
          <li><a href="#" [routerLink]="['/login']"><i class="fa fa-user" aria-hidden="true"></i></a></li>
        </ul>
          <div class ="opt-btn">
            <i class="fa fa-bars"></i>
          </div>
    </div>
  </nav>
  <div class="body">
    <div class="column left">
        <div class="myForms">
            <a href="#" [routerLink]="['/dashboard/myforms']">My Forms</a><br>
        </div>
        <div class="createForms">
            <a href="#" [routerLink]="['/dashboard/createforms']">Create Forms</a><br>
        </div>
        <div class="viewOtherForms">
            <a href="#" [routerLink]="['/dashboard/viewforms']">View All Forms</a><br>
        </div>
        <div class="viewRatings">
            <a href="#" [routerLink]="['/dashboard/viewratings']">View Ratings</a>
        </div>
    </div>
    <div class="features">
      <div class="features-content">
        <div class="feats">
          <div class="box">
            <i class="fa fa-archive"></i>
            <div class="text">
              <button id="open-modalOrig" type="button">Alangilan</button>
              <ion-modal trigger="open-modalOrig">
                <ng-template>
                  <ion-content class="ion-padding">
                  <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 80px; border-radius: 10px; text-align: center;">
                    <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">CHOOSE BUILDING DESIGNATION</ion-label>
                  </div>
                  <button id="open-modal" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CICS Building</button>
                    <ion-modal trigger="open-modal">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal2" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CEAFA Building</button>
                    <ion-modal trigger="open-modal2">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle2()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal3" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">Faculty</button>
                    <ion-modal trigger="open-modal3">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle3()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </div>
        </div>
        <div class="feats">
          <div class="box">
            <i class="fa fa-archive"></i>
              <div class="text">
                <button id="open-modalOrig2" type="button">Lipa</button>
                <ion-modal trigger="open-modalOrig2">
                  <ng-template>
                    <ion-content class="ion-padding">
                    <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 80px; border-radius: 10px; text-align: center;">
                      <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">CHOOSE BUILDING DESIGNATION</ion-label>
                    </div>
                    <button id="open-modal" type="button" style="background-color: rgb(202, 36, 36)
                      ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CICS Building</button>
                      <ion-modal trigger="open-modal">
                        <ng-template>
                          <ion-content class="ion-padding">
                            <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                              <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                            </div>
                            <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                            <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                            style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                            <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                              <button type="button" (click)="findTitle()" style="background-color: rgb(202, 36, 36);
                              border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                              Find<ion-ripple-effect></ion-ripple-effect></button>
                            </div>
                          </ion-content>
                        </ng-template>
                      </ion-modal>
                    <button id="open-modal2" type="button" style="background-color: rgb(202, 36, 36)
                      ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CEAFA Building</button>
                      <ion-modal trigger="open-modal2">
                        <ng-template>
                          <ion-content class="ion-padding">
                            <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                              <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                            </div>
                            <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                            <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                            style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                            <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                              <button type="button" (click)="findTitle2()" style="background-color: rgb(202, 36, 36);
                              border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                              Find<ion-ripple-effect></ion-ripple-effect></button>
                            </div>
                          </ion-content>
                        </ng-template>
                      </ion-modal>
                    <button id="open-modal3" type="button" style="background-color: rgb(202, 36, 36)
                      ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">Faculty</button>
                      <ion-modal trigger="open-modal3">
                        <ng-template>
                          <ion-content class="ion-padding">
                            <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                              <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                            </div>
                            <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                            <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                            style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                            <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                              <button type="button" (click)="findTitle3()" style="background-color: rgb(202, 36, 36);
                              border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                              Find<ion-ripple-effect></ion-ripple-effect></button>
                            </div>
                          </ion-content>
                        </ng-template>
                      </ion-modal>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </div>
          </div>
        </div>
        <div class="feats">
          <div class="box">
            <i class="fa fa-archive"></i>
            <div class="text">
              <button id="open-modalOrig3" type="button">Malvar</button>
              <ion-modal trigger="open-modalOrig3">
                <ng-template>
                  <ion-content class="ion-padding">
                  <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 80px; border-radius: 10px; text-align: center;">
                    <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">CHOOSE BUILDING DESIGNATION</ion-label>
                  </div>
                  <button id="open-modal" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CICS Building</button>
                    <ion-modal trigger="open-modal">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal2" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CEAFA Building</button>
                    <ion-modal trigger="open-modal2">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle2()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal3" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">Faculty</button>
                    <ion-modal trigger="open-modal3">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle3()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </div>
        </div>
        <div class="feats">
          <div class="box">
            <i class="fa fa-archive"></i>
            <div class="text">
              <button id="open-modalOrig4" type="button">Pablo Borbon</button>
              <ion-modal trigger="open-modalOrig4">
                <ng-template>
                  <ion-content class="ion-padding">
                  <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 80px; border-radius: 10px; text-align: center;">
                    <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">CHOOSE BUILDING DESIGNATION</ion-label>
                  </div>
                  <button id="open-modal" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CICS Building</button>
                    <ion-modal trigger="open-modal">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal2" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CEAFA Building</button>
                    <ion-modal trigger="open-modal2">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle2()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal3" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">Faculty</button>
                    <ion-modal trigger="open-modal3">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle3()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </div>
        </div>
        <div class="feats">
          <div class="box">
            <i class="fa fa-archive"></i>
              <div class="text">
                <button id="open-modalOrig5" type="button">Nasugbu</button>
                <ion-modal trigger="open-modalOrig5">
                  <ng-template>
                    <ion-content class="ion-padding">
                    <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 80px; border-radius: 10px; text-align: center;">
                      <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">CHOOSE BUILDING DESIGNATION</ion-label>
                    </div>
                    <button id="open-modal" type="button" style="background-color: rgb(202, 36, 36)
                      ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CICS Building</button>
                      <ion-modal trigger="open-modal">
                        <ng-template>
                          <ion-content class="ion-padding">
                            <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                              <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                            </div>
                            <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                            <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                            style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                            <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                              <button type="button" (click)="findTitle()" style="background-color: rgb(202, 36, 36);
                              border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                              Find<ion-ripple-effect></ion-ripple-effect></button>
                            </div>
                          </ion-content>
                        </ng-template>
                      </ion-modal>
                    <button id="open-modal2" type="button" style="background-color: rgb(202, 36, 36)
                      ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CEAFA Building</button>
                      <ion-modal trigger="open-modal2">
                        <ng-template>
                          <ion-content class="ion-padding">
                            <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                              <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                            </div>
                            <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                            <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                            style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                            <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                              <button type="button" (click)="findTitle2()" style="background-color: rgb(202, 36, 36);
                              border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                              Find<ion-ripple-effect></ion-ripple-effect></button>
                            </div>
                          </ion-content>
                        </ng-template>
                      </ion-modal>
                    <button id="open-modal3" type="button" style="background-color: rgb(202, 36, 36)
                      ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">Faculty</button>
                      <ion-modal trigger="open-modal3">
                        <ng-template>
                          <ion-content class="ion-padding">
                            <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                              <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                            </div>
                            <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                            <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                            style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                            <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                              <button type="button" (click)="findTitle3()" style="background-color: rgb(202, 36, 36);
                              border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                              Find<ion-ripple-effect></ion-ripple-effect></button>
                            </div>
                          </ion-content>
                        </ng-template>
                      </ion-modal>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </div>
          </div>
        </div>
        <div class="feats">
          <div class="box">
            <i class="fa fa-archive"></i>
            <div class="text">
              <button id="open-modalOrig6" type="button">Balayan</button>
              <ion-modal trigger="open-modalOrig6">
                <ng-template>
                  <ion-content class="ion-padding">
                  <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 80px; border-radius: 10px; text-align: center;">
                    <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">CHOOSE BUILDING DESIGNATION</ion-label>
                  </div>
                  <button id="open-modal" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CICS Building</button>
                    <ion-modal trigger="open-modal">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal2" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">CEAFA Building</button>
                    <ion-modal trigger="open-modal2">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle2()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  <button id="open-modal3" type="button" style="background-color: rgb(202, 36, 36)
                    ; height: 60px; width: 93%; border-radius: 20px; margin: 20px;">Faculty</button>
                    <ion-modal trigger="open-modal3">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <div class="titleLabel" style="background: rgb(214, 213, 213); padding: 18px; margin-bottom: 10px; border-radius: 10px; text-align: center;">
                            <ion-label style="font-size: 25px; font-family:'Poppins', sans-serif; color: black;">SELECT FORM</ion-label>
                          </div>
                          <label for="wtitle" style="padding-top: 10px;">Title</label><br>
                          <ion-input [(ngModel)]="wtitle" type="text" placeholder="Enter your wanted form title" id="wtitle"
                          style="background-color: rgb(184, 184, 184); border-radius: 7px;"></ion-input>
                          <div class="ion-activatable ripple-parent rectangle" style="border: none;">
                            <button type="button" (click)="findTitle3()" style="background-color: rgb(202, 36, 36);
                            border-radius: 35px; width: 100%; height: 47px; margin-top: 25px;">
                            Find<ion-ripple-effect></ion-ripple-effect></button>
                          </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
