<ion-header>
</ion-header>

<ion-content>
  <nav class="navitab">
    <div class ="maxwidth">
      <div class ="logo"><img src="../../assets/imgs/BatStateU-NEU-Logo.png">
      <img src="../../../assets/imgs/frmn logo 2.png" alt="">
      </div>
      <div class="logo2">
        <a href="#" [routerLink]="['/news']">FORMANA</a>
        <a href="#" [routerLink]="['/dashboard']">DASHBOARD</a>
      </div>
        <ul class = "opt">
          <li><a href="#" id="hover-trigger"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
          <li><a href="#" [routerLink]="['/login']"><i class="fa fa-sign-out" aria-hidden="true">
            <ion-popover trigger="hover-trigger" triggerAction="hover">
              <ng-template>
                <ion-content class="ion-padding" style="color: black">EMAIL NOTIFICATIONS! TO BE UPDATED!</ion-content>
              </ng-template>
            </ion-popover>
          </i></a></li>
        </ul>
          <div class ="opt-btn">
            <i class="fa fa-bars"></i>
          </div>
    </div>
  </nav>
  <div class="body">
    <div class="column left">
        <div class="myForms">
            <a href="#" [routerLink]="['/dashboard/myforms']">My Forms</a><br>
        </div>
        <div class="createForms">
            <a href="#" [routerLink]="['/dashboard/createforms']">Create Forms</a><br>
        </div>
        <div class="viewOtherForms">
            <a href="#" [routerLink]="['/dashboard/viewforms']">View All Forms</a><br>
        </div>
        <div class="viewRatings">
            <a href="#" [routerLink]="['/dashboard/viewratings']">Add Ratings/Support</a>
        </div>
    </div>
    <div class="column right">
      <table>
        <tr>
          <th>CICS</th>
          <th>CEAFA</th>
          <th>FACULTY</th>
        </tr>
        <tr *ngFor="let lines of temptitleObj; let z=index">
          <td>{{title1[z]}}<br><br>{{expiryDate1[z]}}</td>
          <td>{{title2[z]}}<br><br>{{expiryDate2[z]}}</td>
          <td>{{title3[z]}}<br><br>{{expiryDate3[z]}}</td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
