@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
ion-content{
  --background: #fff url("../../../assets/imgs/BSU\ BACK.jpg") no-repeat center center/cover;
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maxwidth {
    max-width: 1300;
    padding: 0 80px;
    margin: auto;
}
.navitab {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: rgba(158,0,0,255);
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
}
.navitab.sticky {
    padding: 0px 0;
    background: none;
}
.navitab .maxwidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navitab .logo img{
    height: 50px; width: 55px;
    margin-right: 30px;
}
.navitab .logo2 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
    transition: color 0.3 ease;
    color: #fff;
}
.navitab .logo2 a:hover{
    color: #560000;

}
.navitab .opt li {
    list-style: none;
    display: inline-block;
    color: black;
    text-align: center;
}
.navitab .opt li a{
    color: #fff;
    font-size: 30px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;
    text-decoration: none;
}
.navitab .opt li a:hover{
    color: #560000;
    text-decoration: none;
}
.navitab.sticky .opt li a:hover{
    color: #560000; 
}
.opt-btn {
    color: #560000;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.body .left{
    padding-top: 120px;
    padding-left: 50px;
    position: fixed;
    font-size: 18px;
    font-weight: 500;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}
.body .left .myForms, .body .left .createForms, .body .left .viewOtherForms{
    padding-bottom: 45px;
}
.body .left a{
    text-decoration: none;
    color: #fff;
}
.body .left a:hover{
    color: #560000;
}
.body .features{
    width: 75%;
    float: right;
    height: auto;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.body .features .features-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: unset;
    flex-wrap: wrap;
}
.body .features .features-content .feats{
    margin-right: 3%;
}
.body .features .title::before{
    background: rgb(0, 0, 0);
}
.body .features .title::after{
    content: "what we provide";
    background: none;
}
.body .features .features-content .feats{
    width: 20%;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding-top: 10%; padding-bottom: 5%;
    margin-top: 130px; margin-left: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.body .features .features-content .feats .box{
    transition: all 0.3s ease;
}
.body .features .features-content .feats:hover{
    background:#810c0c;
}
.body .features .features-content .feats:hover i{
    color: #fff;
}
.body .features .features-content .feats:hover .box {
    transform: scale(1.05);
}
.body .features .features-content .feats i{
    font-size: 50px;
    color:#810c0c;
}
.body .features .features-content .text {
    color: #fff;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
@media (max-width: 1300px) {
    .home .maxwidth{
        margin-left: 0px;
    }
}
@media (max-width: 1174px) {
    
}
@media (max-width: 1017px) {
    .maxwidth{
        padding: 0 50px;
    }
}
@media (max-width: 947px) {
    .maxwidth{
        padding: 0 50px;
    }
    .navitab .opt {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:url("../../../assets/imgs/batstateuportrait.jpg");
        background-size: 125%;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navitab .opt.active{
        color: #fff;
        left: 0;
    }
    .opt-btn{
        display: block;
        z-index: 999;
    }
    .opt-btn i.active:before{
        content: "\f00d";
    }
    .navitab .opt li {
        display: block;
    }
    .navitab .opt li a {
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }
    .maxwidth{
        max-width: 800px;
    }
}
@media (max-width: 690px) {
    .maxwidth{
        padding: 0 15px;
    }
}
@media (max-width: 450px) {

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin:0%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@media(max-width:830px) {
  .slideshow-container .mySlides img{
    width: 0%;
    display: none;
  }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}